.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw

.DS_Store
.vscode/
.idea/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
.coverage.*
.coverage.*.*
.coverage.*.*.*
.coverage.*.*.*.*


venv/
.env.local
.env.development
.env.test
.env.production
.env.development.local
.env.test.local
.env.production.local
.env.development.local.example
.env.test.local.example
.env.production.local.example
.env.development.example
.env.test.example
.env.production.example