services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - default

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    networks:
      - default

  rabbitmq:
    image: rabbitmq:latest
    ports:
      - "5672:5672"
  api:
    build: .
    command: uvicorn src.main:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - redis
      - rabbitmq
    env_file:
      - .env

  worker:
    build: .
    command: celery -A src.app.tasks.celery_app worker -Q taste_update_queue,movie_recommendation_queue,friend_match_queue,tmdb_sync_queue,preload_swipe_queue -l info
    depends_on:
      - postgres
      - redis
      - rabbitmq
    env_file:
      - .env

  flower:
    build: .
    command: celery -A src.app.tasks.celery_app flower --port=5555
    depends_on:
      - rabbitmq
      - redis
    env_file:
      - .env
    ports:
      - "5555:5555"

volumes:
  postgres_data:
